.navbar {
  background-color: #ffffff;
}

.navbar-light .nav-item .nav-link {
  color: #000000;
  font-size: 18px;
}

.navbar-light .nav-item .nav-link:hover {
  text-decoration:underline;
}
